
@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
<table class="table">
    <thead>
    <tr>
        <th>Customer</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="#">Customer Name</a></td>
    </tr>
    </tbody>
</table>