
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>
<table class="table">
    <thead>
        <tr>
            <th>Movie</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">Movie Name</a></td>
        </tr>
    </tbody>
</table>